@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body, html{
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica;
	scroll-behavior: smooth;
}

header {
	background-color:rgb(0, 0, 0);}

.container{
	width:  100%;
	min-height:  100vh;
	background-color: #f3f5f8;
}

nav {
	display: flex;
	width:  100%;
	justify-content: space-around;
	height:  80px;
	line-height: 80px;
	z-index: 111;
}


/*section for home */



.logo img {
	margin-top: -10px;
	display: flex;
	width:  100px;
}

.navItems{
	display: flex;
}

.navItems li{
	list-style: none;
	margin: 0 15px;
}

.navItems li a{
	font-size: 20px;
	color:  #ffffff;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover{
	color:  #d4ccf1;
}

.links a{
	font-size: 30px;
	color: #f6f6f6;
	margin:  25px 18px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.wrapper{
	display: flex;
	width: 100%;
	height:  calc(100vh - 80px);
	justify-content: left;
	align-items: center;
	padding: 0 10%;
	overflow: hidden;
}


.cols{
	width: 50%;
}

.cols0{
    width:  60%;
	z-index: 5;
}

.topline{
	display: block;
	position: relative;
	font-size: 35px;
	letter-spacing: 5px;
	color: #000000;
}

.topline::after{
	position: absolute;
	content: '';
	height: 4px;
	width: 45px;
	bottom: 10px;
	background-color: #000000;
}

h1{
	display: block;
	font-size: 7em;
	font-weight: 900;
	color: #3d535f;
}

.multiText{
	color: #000000;
	font-size: 180px;
	
}

p{
	display: block;
	width: 90%;
	font-size: 1.2em;
	color: #000000;
    margin: 0px;
}

.btns{
	width: 100%;
	position: relative;
	left: 150px;
    
}

button{
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 25px;
	font-weight: 400;
	color: #fff;
	background-color: #000000;
    margin-top: 20px;
	padding: 8px 30px;
	margin: 40px -150px;
	letter-spacing: 2px;
	text-transform: capitalize;
	box-shadow: 0 15px 10px rgbs(0,0,0,0.4);
    
}

button:hover{
	background-color: #000000;
}

.imgbox{
	position: relative;
	width: 100%;
	height: 100%;
}

.imgbox img{
	position: absolute;
    top:20%;
    left:-15%;
	right: 60px;

}


/*section for about*/

.section {
	height: 100%;
}

.section-divider {
	height: 35%;
}

.slider{
    width: 100%;
    height: 744px;
    background-color:rgb(0, 0, 0);
    float: left;}
	
.about {
	text-align: center;
	padding: 4% 10%;
	color: white;
}

.about h1{
	font-size: 50px;
	color: white;
}

.about-content {
	color: white;
	margin-left:40%; 
	padding: 5% 0;
	width: 60%;
}

h2{
	font-size: 80px;
	margin-left: -70px;
	margin-top: 40px;

}

.hr-line{
  display: block;
  width: 20%;
  height: 4px;
  background: #ffffff;
  margin-top:-20px;
  margin-left: 238px;
}

.about-content p{
	font-size: 20px;
	color: white;
	margin-top: 100px;
	margin-left: -250px;
	text-align: center;
	word-spacing: 3.0px;
	
}





@keyframes animateUser{
	50%{
		right: -50%;
		top: 20%;
	}
}

.imgbox #splash{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) ;
	width: 90%;
	height:  60%;
	animation: animate 4s linear infinite;
}

@keyframes animate{
	50%{
		top:  50%;
		left: 50%;
		width: 95%;
	}
}

